body {
    margin: 0;
}

.bigContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background-color: rgb(132, 165, 132); */
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 200px;
    width: 50%;
    /* background-color: rgb(158, 123, 123); */
    box-sizing: border-box;
    padding: 10px;
    border-color: black;
    border-style: solid;
}

/* .c1-shapes {
    margin: 0px 20px ;
} */

.c1-shape1 {
    /* margin-left: 10px; */
    height: 75%;
    width: 50px;
    background-color: rgb(138, 43, 226);
    /* margin: 10px; */
}

.c1-shape2 {
    height: 100%;
    width: 300px;
    background-color: rgb(34, 139, 34);
    margin: 0px 40px;
}

.c1-shape3 {
    height: 100%;
    width: 0px;
    padding: 0% 9.5%;
    background-color: rgb(135, 206, 235);
    border-radius: 50%;
}

.circle{
    width:50%;
    height:0;
    font-size:20px;
    color:#fff;
    text-align:center;
    line-height:0;
    padding:25% 0;
    border-radius:50%;
    background:#09f
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 50%;
    /* background-color: rgb(158, 123, 123); */
    box-sizing: border-box;
    padding: 10px;
    border-color: black;
    border-style: dotted;
}

.c2-shape1 {
    height: 75%;
    width: 95%;
    background-color: rgb(255, 250, 205);
    box-shadow: 10px 5px 5px black;
}

.container3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 20%;
    /* background-color: rgb(158, 123, 123); */
    box-sizing: border-box;
    padding: 10px;
    border-color: rgb(207, 207, 207);
    border-style: solid;
    border-width: 1px;
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
}

.c3-text1 {
    color: rgb(8, 12, 135);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 10px;
}